.gradle/

build/
*/build/
*/bin/
*/target
*.iml
.settings
.project
.classpath
*.ipr
*.iws
*.log
*/generatedsources/
out/

.idea/*

# local configuration
/application-rs.yml
/application-*.yml
/application_*.yml

.DS_Store

classes/
/.nb-gradle/
/application-local.yaml
